<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HeaderMessage" value="Seconds to New Year" />
    <add key="TargetMessage" value="Happy New Year!" />
    <add key="TargetDate" value="1/1/2016 12:00:00AM" />
    <add key="Mode" value="seconds" />
  </appSettings>
</configuration>
